<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST" class="needs-validation" novalidate>
        <div class="form-group my-3">
          <label for="email">Email：</label>
          <input class="form-control" type="text" name="email" id="email" placeholder="123@gmail.com"
            pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" required>
          <div class="invalid-feedback">
            請輸入Email
          </div>
        </div>
        <div class="form-group my-3">
          <label for="password">Password：</label>
          <input class="form-control" type="text" name="password" id="password" required>
          <div class="invalid-feedback">
            請輸入密碼
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Login</button>
      </form>
      <p class="lead mt-4">No Account? <a href="/users/register">Register</a></p>
    </div>
  </div>
</div>

<script>
  (function () {
    'use strict'
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>