<form id="form" class="needs-validation p-5" action="/restaurant" method="post">
  <div class="col-md-6 mb-3">
    <div class="form-group">
      <label for="name">餐廳名稱</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required>
      <div class="invalid-feedback">
        請填寫餐廳名稱
      </div>
    </div>

    <div class="form-group">
      <label for="category">餐廳類別</label>
      <input list="categorys" class="form-control" name="category" id="category" required>
      <datalist id="categorys">
        {{#each category}}
        <option>{{category}}</option>
        {{/each}}
      </datalist>
      <div class="invalid-feedback">
        請選擇或輸入餐廳類別
      </div>
    </div>

    <div class="form-group">
      <label for="rating">餐廳評分</label>
      <input type="number" class="form-control" id="rating" name="rating" min="0" max="5" required>
      <div class="invalid-feedback">
        請評分餐廳，滿分為5
      </div>
    </div>

    <div class="form-group">
      <label for="image">餐廳圖片網址(選填)</label>
      <input type="text" class="form-control" id="image" name="image">
    </div>

    <div class="form-group">
      <label for="location">餐廳地址</label>
      <input type="text" class="form-control" id="location" name="location" required>
      <div class="invalid-feedback">
        請填寫地址
      </div>
    </div>

    <div class="form-group">
      <label for="phone">聯絡電話</label>
      <input type="text" class="form-control" id="phone" name="phone" inputmode="numeric" required>
      <div class="invalid-feedback">
        請填寫電話
      </div>
    </div>

    <div class="form-group">
      <label for="description">餐廳簡介(選填)</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-end mr-5 pr-5">
    <div class="col-md-6 d-flex mr-5 pr-5">
      <button id="submitButton" type="submit" class="btn btn-primary">create</button>
      <a href="/" class="border d-flex align-items-center p-2 ml-2">back</a>
    </div>
  </div>

</form>

<script>
  const submitButton = document.querySelector('#submitButton')
  const form = document.querySelector('#form')
  submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
    form.classList.add('was-validated')
  })
</script>